.task{
    &__picture{
        margin: 0px auto;
        margin-top: 10px;
        margin-bottom: 50px;
        &-content{
            width: fit-content;
        }
        &-tabletop{
            min-width: 420px;
            height: 125px;
            background-color: orange;
            display: flex;
            margin: 0px auto;
            align-items: center;
            gap: 15px;
            justify-content: center;
            transform: perspective(100px) rotateX(5deg);
            position: relative;
            .circle{
                width: 100px;
                height: 100px;              
                background-color: white;
                border-radius: 100%;
                position: relative;
            }
            .square{
                width: 50%;
                height: 50%;
                background-color: red;
                position: absolute;
                right: 25%;
                top: 25%;
            }
            .aqua-circle{
                background-color: aqua;
                width: 50%;
                height: 50%;
                position: absolute;
                top: 25%;
                right: 25%;
            }
        }
        &-tabletop > div{
            width: 100px;
            height: 100px;
        }
        &-tablebottom{
            min-width: 420px;
            height: 12px;
            width: 100%;
            background-color: rgb(171, 111, 0);
            transform: perspective(20px) rotateX(-9deg);
            margin-top: 4px;
        }
    }
}