.level{
    max-width: 22%;
    min-width: 340px;
    width: 100%;
    height: 100vh;
    background-color: rgb(25, 25, 25);
    position: fixed;
    right: 0px;
    &__menu{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__content{
        margin: 25px 0px 25px 20px;
        width: 100%;
        max-width: 90%;
    }
    &__title{
        display: flex;
        gap: 10px;
        &-text{
            font-size: 30px;
            line-height: 28px;
        }
        &-icon{
            display: flex;
            align-items: center;
        }
    }
    &__manage{
        display: flex;
        align-items: center;
        gap: 10px;
        &-arrows{
            &-1,
            &-2{
                display: inline-block;
                background-color: transparent;
                cursor: pointer;
            }
            &-1 div{
                width: 16px;
                height: 16px;
                border-top: 2px solid rgb(103, 103, 103);
                border-right: 2px solid rgb(103, 103, 103);
                transform: rotate(-135deg);
                top: 5px;
                left: 0;
                background-color: transparent;
            }
            &-2 div{
                width: 16px;
                height: 16px;
                border-top: 2px solid rgb(103, 103, 103);
                border-right: 2px solid rgb(103, 103, 103);
                transform: rotate(45deg);
                top: 5px;
                left: 10px;
                background-color: transparent;
            }
        }
        &-burger__menu {
            display: inline-block;
            width: 26px;
            height: 30px;
            background-color: transparent;
            position: relative;
        }
        &-burger__menu div{
            border-top: 2px solid rgb(103, 103, 103);
            margin-top: 50%;
        }
        &-burger__menu div::before{
            position: absolute;
            content : "";
            width: 26px;
            height: 2px;
            background-color: rgb(103, 103, 103);
            top: 24px;

        }
        &-burger__menu div::after{
            position: absolute;
            content : "";
            width: 26px;
            height: 2px;
            background-color: rgb(103, 103, 103);
            bottom: 24px;
        }
    }
    &__info{
        &-title{
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
        }
        &-subtitle{
            color: rgb(103, 103, 103);
            margin-top: 5px;
        }
        &-selector{
            font-size: 28px;
            background-color: rgb(36, 36, 36);
            width: fit-content;
            padding: 5px;
            border-bottom: 2px solid rgb(65, 65, 65);
            margin-top: 15px;
            margin-bottom: 15px;
        }
        &-text,
        .level__info-example__item{
            line-height: 23px;
        }
        &-text span,
        .level__info-example__item span{
            background-color: rgb(65, 65, 65);
            padding: 3px;
            margin: 1px;
            font-size: 13px;
        }
        &-example{
            margin-top: 50px;
            &__title{
                font-size: 22px;
            }
            &__rows{
                margin-top: 20px;
            }
            &__rows hr{
                margin-bottom: 10px;
            }
        }
    }
}