body,
a,
input,
button,
ul{
    font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
    background-color: rgb(40, 40, 40);
    color: rgb(148, 148, 148);
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
main{
    width: 100%;
    max-width: 78%;
    .menu{
        display: flex;
        width: 100%;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
        &__autho{
            line-height: 30px;
            padding-left: 5px;
        }
        &__autho a:hover{
            color: rgb(201, 201, 201);
            transition: all 0.2s ease;
        }
        &__media{
            display: flex;
        }
        ul{
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            li{
                align-self: center;
                display: flex;
                list-style-type: none;
            }
        }
        img{
            width: 25px;
            margin: 2px;
            transition: all 0.2s ease;
            align-self: center;
        }
    }
    .task{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        &__title{
            justify-content: center;
            color: rgb(148, 148, 148);
            font-size: 30px;
            text-align: center;
            padding: 15px 0px 15px 0px;
        }
    }
}
.dev{
    width: 100%;
    &__content{
        font-family: menlo, monospace;
        width: 100%;
        max-width: 90%;
        display: flex;
        border: 10px solid rgb(29, 29, 29);
        border-radius: 0.7%;
        margin: 0px auto;
    }
    &__css{
        width: 100%;
    }
    &__css-text{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        
    }
    &__css-file{
        color: rgb(84, 84, 84);
    }
    &__css-editor{
        display: flex;
        width: 100%;
        &__list{
            background-color: rgb(208, 208, 208);
            ol{
                list-style-type: none;
                list-style: none;
                counter-reset: my-counter;
                text-align: right;
                margin: 0;
                padding: 10px 15px;

            }
            li::before{
                content: counter(my-counter);
                counter-increment: my-counter;
                line-height: 22px;
            }
        }
        &__text{
            line-height: 22px;
            background-color: rgb(234, 234, 234);
            width: 100%;
            padding: 10px 15px;
        }
        &__input{
            display: flex;
            justify-content: space-between;
            position: relative;
            &-1{
                background-color: transparent;
                width: 100%;
                border: none;
                font-family: menlo, monospace;
                font-size: 16px;
                transition: all 0.5s ease;
                animation: pulse 1s linear infinite;
                max-width: 87%;
                color: black;
                min-height: 25px;
            }
            &-1:focus{
                background-color: transparent;
                width: 100%;
                transition: all 0.5s ease;
                outline: none;
                animation: pulse-off;
            }
            &-2{
                transition: all 0.5s ease;
                position: absolute;
                right: 0;
                font-size: 11px;
                background-color: rgb(218, 218, 218);
                color: rgb(148, 148, 148);
                border: 1px solid;
                padding: 0px 8px 0px 8px;
                border-radius: 2px;
                transition: all 0.5s ease;
                cursor: pointer;
                align-self: flex-start;
                max-height: 20px;
                height: 100%;
                display: flex;
                align-items: start;
            }
            &-2::before{
                content: "";
                position: absolute;
                width: 101%;
                height: 5px;
                background-color: rgb(127, 127, 127);
                transform: translate(-50%,-50%);
                bottom: -5px;
                left: 50%;
            }
            &-2:active{
                transition: all 0.5s ease;
                bottom: 0;
                &::before{
                    height: 0px;
                }
            }
        }
    }
    &__html{
        width: 100%;
    }
    &__html-text{
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    &__html-file{
        color: rgb(84, 84, 84);
    }
    &__html-editor{
        display: flex;
        width: 100%;
        &__list{
            background-color: rgb(62, 62, 62);
            ol{
                list-style-type: none;
                counter-reset: my-counter;
                text-align: right;
                margin: 0;
                padding: 10px 15px;
            }
            li::before{
                content: counter(my-counter);
                counter-increment: my-counter;
                line-height: 22px;
            }
        }
        &__text{
            line-height: 22px;
            background-color: rgb(48, 48, 48);
            width: 100%;
            padding: 10px 15px;
        }
        &__text *:hover{
            color: rgb(217, 217, 217);
            cursor: pointer;
        }
    }
}
@keyframes pulse {
    from {
        background-color: aqua;
    }
}