.task{
    &__picture{
        margin: 0px auto;
        margin-top: 10px;
        margin-bottom: 50px;
        &-content{
            width: fit-content;
        }
        &-tabletop{
            min-width: 420px;
            height: 125px;
            background-color: orange;
            display: flex;
            margin: 0px auto;
            align-items: center;
            gap: 15px;
            justify-content: center;
            transform: perspective(100px) rotateX(5deg);
            position: relative;
            .plate{
                width: 100px;
                height: 100px;              
                background-color: white;
                border-radius: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                box-shadow: -1px 10px 0px -3px rgba(0, 0, 0, 0.296);
            }
            .plate::before{
                content: "";
                position: absolute;
                background-color: rgb(255, 255, 255);
                width: 65px;
                height: 65px;
                border-radius: 100%;
                top : 50%;
                left : 50%;
                transform : translate(-50%, -50%);
                box-shadow: inset -1px 10px 5px 0px rgba(0, 0, 0, 0.142);
            }
            .apple{
                width: 40px;
                height: 40px;
                background-color:  #ff4355;
                box-shadow: inset 6px -2px  #cc1022, -1px 6px 2px -1px rgba(0, 0, 0, 0.296);
                border-radius: 30px 30px 40px 40px;
                position: relative;
                align-self: center;
                justify-self: center;
            }
            .apple::before{
                content: "";
                position: absolute;
                right: 50%;
                top: -5px;
                width: 2px;
                height: 10px;
                background-color: brown;
            }
            .aqua-circle{
                background-color: aqua;
                width: 50%;
                height: 50%;
                position: absolute;
                top: 25%;
                right: 25%;
            }
        }
        &-tabletop > div{
            width: 100px;
            height: 100px;
        }
        &-tablebottom{
            min-width: 420px;
            height: 12px;
            width: 100%;
            background-color: rgb(171, 111, 0);
            transform: perspective(20px) rotateX(-9deg);
            margin-top: 4px;
        }
    }
}