
.task{
    &__picture{
        margin: 0px auto;
        margin-top: 10px;
        margin-bottom: 50px;
        &-content{
            width: fit-content;
        }
        &-tabletop{
            transition: all 1s ease;
            min-width: 420px;
            height: 125px;
            background-color: orange;
            display: flex;
            margin: 0px auto;
            align-items: center;
            gap: 15px;
            justify-content: center;
            transform: perspective(100px) rotateX(5deg);
            position: relative;
            div:hover{
                outline: 5px solid rgba(161, 161, 161, 0.608);
            }
            .plate{
                width: 100px;
                height: 100px;              
                background-color: white;
                border-radius: 100%;
                justify-content: center;
                box-shadow: -1px 10px 0px -3px rgba(0, 0, 0, 0.296);
                transform: none;
            }
            .plate::before{
                content: "";
                position: absolute;
                background-color: rgb(255, 255, 255);
                width: 65px;
                height: 65px;
                border-radius: 100%;
                top : 50%;
                left : 50%;
                transform : translate(-50%, -50%);
                box-shadow: inset -1px 10px 5px 0px rgba(0, 0, 0, 0.142);
            }
            .apple{
                width: 40px;
                height: 40px;
                background-color:  #ff4355;
                box-shadow: inset 6px -2px  #cc1022, -1px 6px 2px -1px rgba(0, 0, 0, 0.296);
                border-radius: 30px 30px 40px 40px;
                position: relative;
            }
            .apple::before{
                content: "";
                position: absolute;
                right: 50%;
                top: -5px;
                width: 2px;
                height: 10px;
                background-color: brown;
            }
            
            
            .bento{
                border-top: 5px solid brown;
                border-bottom: 5px solid brown;
                background-color: rgb(198, 48, 48);
                box-shadow: inset 0px -1px 10px 0px rgba(0,0,0,0.75);
                border-radius: 5px;
                position: relative;
                
            }
            .plate-fancy{
                width: 100px;
                height: 100px;              
                background-color: white;
                border-radius: 100%;
                position: relative;
                box-shadow: -1px 10px 0px -3px rgba(0, 0, 0, 0.296);
                content:"hi";
                &::before{
                    content: "";
                    position: absolute;
                    background-color: rgb(255, 255, 255);
                    width: 65px;
                    height: 65px;
                    border-radius: 100%;
                    top : 50%;
                    left : 50%;
                    transform : translate(-50%, -50%);
                    box-shadow: inset -1px 10px 5px 0px rgba(0, 0, 0, 0.142), 0px 0px 0px 5px white, 0px 0px 0px 12px rgb(80, 211, 255);
                }
                
            }
            .orange{
                width: 40px;
                height: 40px;
                background-color:  rgb(255, 204, 0);
                box-shadow: inset 3px -2px  rgb(227, 148, 0), -1px 6px 2px -1px rgba(0, 0, 0, 0.296);
                border-radius: 100%;
                
                &:before {
                    content: "";
                    position: absolute;
                    top: -10px;
                    left: 50%;
                    height: 0;
                    width: 0;
                    border: 8px solid #539e3d;
                    border-radius: 50% 0 50% 0;
                    border-bottom-color: #437512;
                    border-right-color: #437512;
                }
                &-small{
                    width: 20px;
                    height: 20px;
                    background-color:  rgb(255, 204, 0);
                    box-shadow: inset 3px -2px  rgb(227, 148, 0), -1px 6px 2px -1px rgba(0, 0, 0, 0.296);
                    border-radius: 100%;
                    z-index: 2;
                    position: relative;
                }
                
                &-small::before{
                    content: "";
                    position: absolute;
                    top: -5px;
                    left: 50%;
                    height: 0;
                    width: 0;
                    border: 5px solid #539e3d;
                    border-radius: 50% 0 50% 0;
                    border-bottom-color: #437512;
                    border-right-color: #437512;
                }
                
            }
            .blueberry{
                width: 40px;
                height: 40px;
                background-color:  #89a2ca;
                box-shadow: inset 6px -2px  #6081B8, -1px 6px 2px -1px rgba(0, 0, 0, 0.296);
                border-radius: 100%;
                &:before{
                    content: "";
                    width: 20px;
                    height: 10px;
                    left: 25%;
                    position: absolute;
                    background-color: #3e4d64;
                    border-radius:50%;
                }
            }
            .small{
                width: 20px;
                height: 20px;
            }
            .choosen{
                animation: chooseme 1s linear infinite;
            }
        }
        &-tabletop > div{
            width: 100px;
            height: 100px;
            transition: all 1s ease;
            transition: box-shadow 0s ease;
            animation: tabletop 0.3s ease ;            
        }
        &-tabletop > div div{
            position: absolute;
            top :50%;
            left :50%;
            transform:translate(-50%, -50%);

        }
        &-tabletop > div:hover{
            outline: 7px solid rgba(255, 255, 255, 0.608);
            // box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.608);
        }
        &-tablebottom{
            transition: all 1s ease;
            min-width: 420px;
            height: 12px;
            width: 100%;
            background-color: rgb(171, 111, 0);
            transform: perspective(20px) rotateX(-9deg);
            margin-top: 4px;
        }
    }
}
.plate,
.bento{
    position: relative;
}
.modal{
    position: absolute;
    width: fit-content;
    height: 30px;
    background-color: black;
    z-index: 30;
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0px 10px;
    color: black;
}
@keyframes tabletop {
    0%{
        transform: scale(0) perspective(100px) rotateX(5deg);
    }
    50%{
        transform: scale(1.2) perspective(100px) rotateX(5deg);
    }
    70%{
        transform: scale(1.1) perspective(100px) rotateX(5deg);
    }
    100%{
        transform: scale(1) perspective(100px) rotateX(5deg);
    }
}
@keyframes chooseme {
    0% {
        transform: scale(1);
    }
    25%{
        transform: scale(1.05);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes anti-chooseme {
    0% {
        transform: scale(1);
    }
    25%{
        transform: scale(0.95);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}